

/* Typewriter */

.heading-h1-style{
    font-size: 70px;
    color: #23294C;
    font-weight: 700;
    display: inline-block;
    font-family: 'Josefin Sans', sans-serif;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    animation: 
      typing 3.5s steps(30, end),
      blink-caret 1s step-end infinite;
}

.heading-style{
    font-size: 35px;
    color: #23294C;
    font-family: 'Poppins', sans-serif;
    font-weight:600;
}

.icon-div{
    padding: 10px;
    border: 2px solid #23294C;
    border-radius: 5px;
    margin-right: 10px;
}

.icon-div i{
    font-size: 20px;
}

.social-icons-row a{
    color: #23294C;
    text-decoration: none;
}

.icon-text{
    padding-left: 10px;
    padding-top: 8px;
    font-weight: bold;
    font-size: 18px;

}

.icon-row a{
    text-decoration: none;
    color:#23294C;
}

.icon-div:hover{
    border: 0px solid #23294C;
}



@media (min-width: 983px) and (max-width: 1370px) {
  .heading-h1-style {
      font-size: 50px; /* Adjusted font size for screens between 769px and 1370px */
  }
  .heading-style {
      font-size: 25px; /* Adjusted font size for screens between 769px and 1370px */
  }
}

@media (min-width: 751px) and (max-width: 982px) {
  .heading-h1-style {
      font-size: 35px; /* Adjusted font size for screens up to 768px */
  }
  .heading-style {
      font-size: 20px; /* Adjusted font size for screens up to 768px */
  }
}

@media (max-width: 750px) {
  .heading-h1-style {
      font-size: 28px; /* Adjusted font size for screens up to 768px */
  }
  .heading-style {
      font-size: 17px; /* Adjusted font size for screens up to 768px */
  }
}
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
  }


.fixed-width{
    width: 70%;
    max-width: 1300px;
    margin: auto;
}

.tight-width{
    width: 70%;
    margin: auto;
}

.bg-color{
    background-color: #F7FAFC;
}

.spacer{
    background-color: #23294C;
}

.nav-item a{
    font-family: 'Poppins', sans-serif;
    color: #23294C;
    font-size: 18px;
}

.nav-item a:hover{
    
    color: #0B58CA;
    text-decoration: underline;
}

.site-logo{
    max-width: 90px;
    max-height: 60px;
}

.my-image{
    max-width: auto;
    max-height: 580px;
    border-radius: 10px;
    box-shadow: 6px 9px 14px -5px rgba(0,0,0,0.58);
    -webkit-box-shadow: 6px 9px 14px -5px rgba(0,0,0,0.58);
    -moz-box-shadow: 6px 9px 14px -5px rgba(0,0,0,0.58);
}

.my-image:hover{
    transform: scale(1.05);
}



.h2-heading-style{
    font-size: 40px;
    color: #23294C;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
}
.heading-style span{
    font-size: 70px;
    color: #23294C;
    font-weight: 700;
    /* font-family: 'Comic Neue', cursive; */
    font-family: 'Josefin Sans', sans-serif;
}



.h3-heading{
    font-size: 25px;
    color: #23294C;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
}

.heading-para{
    font-size: 20px;
    color: rgb(40, 39, 39);
    
    font-family: 'Poppins', sans-serif;
}

.heading-para-different{
    font-size: 20px;
    color: rgb(40, 39, 39);
    font-family: 'Poppins', sans-serif;
}

.heading-para span{
    font-weight: 600;
}

/* Work */

.work{
    margin-top: 80px;
}

.work img{
    border-radius: 10px;
    max-width: 300px;
    max-height: auto;
}

.coding-img{
    border: 2px solid #23294C;
    border-radius: 10px;
    padding: 10px;
}

.coding-img:hover{
    background-color: #89b3f1;
}

.writing-img{
    border: 2px solid #23294C;
    border-radius: 10px;
    padding: 10px;
}

.writing-img:hover{
    background-color: #89b3f1;
}

/* Writing work */

.writing-work{
    margin-top: 80px;
}

.blogs-images img{
    max-height: 50px;
}

.blogs-images img:hover{
    transform: scale(1.1);
}

.blogs-images{
    gap: 10px;
}

.sample img{
    max-width: 30px;
    max-height: 30px;
    border-radius: 5px;
}

.sample .heading-para{
    padding-left: 10px;
}

.sample{
    border-radius: 10px;
    border: 2px solid #23294C;
    padding-bottom: 1px;
    padding-top: 8px;
    padding-left: 5px;
    padding-right: 3px;
}

.sample:hover{
    background-color: #89b3f1;;
}

.published-articles .heading-para{
    font-size: 15px;
}

.published-articles a{
    text-decoration: none;
}

.contact-button{
    border-radius: 10px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0%;
}

.contact-button:hover{
    background-color: #89b3f1;
}

.contact-button a span{
    font-size: 25px;
    color: #23294C;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
}   


/* Coding work */

.coding-work{
    margin-top: 80px;
}


/* Contact */

form {
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 8px;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #23294C;
}

.border-radius img{
    border-radius: 10px;
}

.carousel-edit{
    border-radius: 10px;
}

.heading-para-project{
    font-size: 18px;
    color: rgb(40, 39, 39);
    font-family: 'Poppins', sans-serif;
}


/* Footer */

.footer{
    background-color: #EFEFEF;
}

.footer-text{
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
}


/* carousel */

/* Carousel */

:root {
    --primary-color: slategrey;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body, .cd__main {
    font-family: "@Microsoft YaHei Light";
    background: #fafafa;
  }
  
  .carousel-edit {
    overflow: hidden;
    position: relative;
    z-index: 900;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  .mySlides img {
    display: block;
    width: 100%;
  }
  
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: auto;
    padding: 20px;
    color: white;
    font-weight: bold;
    font-size: 24px;
    border-radius: 0 8px 8px 0;
    background: rgba(173, 216, 230, 0.1);
    user-select: none;
  }
  .next {
    right: 0;
    border-radius: 8px 0 0 8px;
  }
  .prev:hover,
  .next:hover {
    background-color: rgba(173, 216, 230, 0.3);
  }
  
  /* Caption text */
  
  /* Number text (1/3 etc) */
  .number {
    color: #f2f2f2;
    font-size: 16px;
    background-color: rgba(173, 216, 230, 0.15);
    backdrop-filter: blur(6px);
    border-radius: 10px;
    padding: 8px 12px;
    position: absolute;
    top: 10px;
    left: 10px;
  }
  .dots-container {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%);
  }
  
  /* The dots/bullets/indicators */
  .dots {
    cursor: pointer;
    height: 14px;
    width: 14px;
    margin: 0 4px;
    background-color: rgba(173, 216, 230, 0.2);
    backdrop-filter: blur(2px);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s ease;
  }
  .active,
  .dots:hover {
    background-color: rgba(173, 216, 230, 0.8);
  }
  
  /* transition animation */
  .animate {
    -webkit-animation-name: animate;
    -webkit-animation-duration: 1s;
    animation-name: animate;
    animation-duration: 2s;
  }
  
  @keyframes animate {
    from {
      transform: scale(1.1) rotateY(10deg);
    }
    to {
      transform: scale(1) rotateY(0deg);
    }
  }

.carousel-button{
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
    border-radius: 5px;
}
.carousel-button i{
    color:#23294C;
}


  /* Carousel new */

  :root {
    --primary-color: slategrey;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body, .cd__main {
    font-family: "@Microsoft YaHei Light";
    background: #fafafa;
  }
  
  .carousel-new {
    overflow: hidden;
    position: relative;
    z-index: 900;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  .mySlides img {
    display: block;
    width: 100%;
  }
  
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: auto;
    padding: 20px;
    color: white;
    font-weight: bold;
    font-size: 24px;
    border-radius: 0 8px 8px 0;
    background: rgba(173, 216, 230, 0.1);
    user-select: none;
  }
  .next {
    right: 0;
    border-radius: 8px 0 0 8px;
  }
  .prev:hover,
  .next:hover {
    background-color: rgba(173, 216, 230, 0.3);
  }
  
  /* Caption text */
  
  /* Number text (1/3 etc) */
  .number {
    color: #f2f2f2;
    font-size: 16px;
    background-color: rgba(173, 216, 230, 0.15);
    backdrop-filter: blur(6px);
    border-radius: 10px;
    padding: 8px 12px;
    position: absolute;
    top: 10px;
    left: 10px;
  }
  .dots-container {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%);
  }
  
  /* The dots/bullets/indicators */
  .dots {
    cursor: pointer;
    height: 14px;
    width: 14px;
    margin: 0 4px;
    background-color: rgba(173, 216, 230, 0.2);
    backdrop-filter: blur(2px);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s ease;
  }
  .active,
  .dots:hover {
    background-color: rgba(173, 216, 230, 0.8);
  }
  
  /* transition animation */
  .animate {
    -webkit-animation-name: animate;
    -webkit-animation-duration: 1s;
    animation-name: animate;
    animation-duration: 2s;
  }
  
  @keyframes animate {
    from {
      transform: scale(1.1) rotateY(10deg);
    }
    to {
      transform: scale(1) rotateY(0deg);
    }
  }
